/* Color palate:
Slate: #262626 
Secondhand Grey: #3f3f3f 
Whitish: #f5f5f5 
Light grey: #dcdcdc
*/
:root {
    --main-bg-color: #f5f5f5;
    --main-font-color: #262626;
    --alternate-bg-color: #262626;
    --alternate-font-color: #dcdcdc;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'Titillium Web',
    sans-serif;
    
    
}

body a:link {
    color: var(--main-font-color)
}

body a:visited {
    color: var(--main-font-color)
}

.container {
    display: grid;
    
    grid-gap: 20px;
    grid-template-areas:
    "nav nav nav"
    "splashText splashPic splashPic"
    "about about socialMedia"
    "skills learning wanted"
    "port port port"
    "contact contact contact"
    "footer footer footer";
}

/* Media Queries */

/* Under 600px */

@media screen and (max-width: 600px) {
    /* Grid resize */

    .container {
        display: grid;
        grid-template-areas:
        "nav"
        "splash"
        "about"
        "skills"
        "learning"
        "wanted"
        "port"
        "contact"
        "socialMedia"
        "footer";
        align-items: center;
    }


    /* Nav Bar */
    .topBar a:not(:first-child) {
        display: none;
    }
    .topBar a.icon {
        float: right;
        display: block;
    }

    .topBar.responsive {
        position: relative;
    }
    .topBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* NavBar */

.topBar {
    background-color: #f5f5f5;
    overflow: hidden;
    grid-area: nav;
}

.topBar a {
    float: left;
    display: block;
    color:#262626;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topBar a:hover {
    background-color: #262626;
    color: #f5f5f5;
}

.active {
    background-color: #3f3f3f;
    color: #f5f5f5;
}

.topBar .icon {
    display: none;
}


/* Splash */

.splash {
    height: 100vh;
    
}

.splashText {
    Grid-area: splashText;
    text-align: center;
    
}

.splashPic img {
    height: 50%;
    
    display: block;
    margin-left: 50%;
    margin-right: 50%;
}

.splashPic {
    grid-area: splashPic;
    margin: auto;
           
}

/* About me */

.about {
    grid-area: about;
    margin: auto;
}

/* Socialmedia */

.socialMedia {
    grid-area: socialMedia;
    margin: auto;

}

.socialMedia a{
    text-decoration: none;
    display: block;

}


/* Skills */

.skills {
    grid-area: skills;
    
    text-align: center;
}

.learningList {
    grid-area: learning;
    
    text-align: center;
}

.wanted {
    grid-area: wanted;
    text-align: center;
    
}

/* Portfolio area */

.portfolio {
    grid-area: port;
    text-align: center;
}

/* Contact form */

.hireMe {
    grid-area: contact;
    text-align: center;
}

/* Footer */

.footer {
    grid-area: footer;    
    background-color: var(--alternate-bg-color);
    color: var(--alternate-font-color);
    text-align: center;
    font-size: 8px;
    height: 42px;
}
